/*Universals*/
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

/*header section*/
header {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

/*main brush section*/

main span {
    font-weight: bold;
    color: blue;
}
.brushes h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.frames h2 {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint h2 {
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}